
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height:600px;
    font-family: sans-serif;
}
body {
    position:relative;
}
.trondheim {
    background-image: url(//upload.wikimedia.org/wikipedia/commons/thumb/b/b3/Digisapiens.png/1024px-Digisapiens.png);
    background-repeat:no-repeat;
    background-position: center center;
    background-size: contain;
}
#wrapper {
    min-height:100%;
    position:relative;
}
#header {
    padding:0;
    margin-top:5px;
    border-radius:3px;
    position: relative;
    background:white;
}
#content {
    padding:10px;
    padding-bottom:120px; /* Height of the footer element */
    position: relative;
}
#footer {
    width:100%;
    height:120px;
    position:absolute;
    bottom:0;
    left:0;
    text-align:center;
    overflow:hidden;
    background:white;
    margin-bottom:5px;
    border-radius:3px;
}
.banner {
    z-index:10;
    position:relative;
    padding: 10px 0;
    top:15%;
}
.banner img {
    margin-top: 10%;
    margin: 50px auto;
}
.row {
    margin: 20px 0;
}
img {
    max-size: 100%;
}
.search-box input[type="text"] {
    width: 70%;
}
.max-width {
    width: 100%;
}
.text-center {
    text-align: center;
}
.input-group-addon {
    background: transparent;
}
.choice-row {
    text-align: center;
}
.cause-option, .search-option, .ad-option {
    height: 130px;
    padding-top: 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 2px 0 rgba(0,0,0,0.3);
    transition: 0.2s;
}
.search-option, .ad-option {
    padding-top:40px;
}
.cause-option.active, .search-option.active, .ad-option.active {
    background-color: slategray;
}
.cause-option:hover, .search-option:hover, .ad-option:hover {
    cursor:pointer;
    background-color: lightgray;
    transition: 0.2s;
}

.whitetron {
    background: white;
    width: 50%;
    min-width:300px;
    max-width: 320px;
    margin:0 auto;
    border-radius: 7px;
    padding:10px;
}

@media screen and (max-width: 1280px) {
    .fjord-bg {
        background-size: auto 100% !important;
    }
}

.attribution {
    font-weight: normal;
    position: absolute;
    padding: 10px;
    bottom: 0;
    right: 0;
    font-size: 1.2em;
    color: #ddd;
    text-shadow: 1px 1px 2px black;
    -moz-text-shadow: 1px 1px 2px black;
    -webkit-text-shadow: 1px 1px 2px black;
}

.attribution a {
    text-shadow: 1px 1px 2px black;
    -moz-text-shadow: 1px 1px 2px black;
    -webkit-text-shadow: 1px 1px 2px black;
    color: #ddd;
}


.img-centered {
    margin: auto auto;
    display: block;
}
