{% extends 'layout.html' %}

{% block content %}

<h1>About Koosli</h1>

<p>Koosli is an early-stage Norwegian and non-profit enterprise.</p>

<p>As a non-profit search platform, a user may select their preferred search engine and Koosli funds operation by selling default status to among these search providers. All search advertising proceeds are channelled to the beneficiaries you choose!</p>

<p><a href="https://koosli.org/beta">Test a Search</a> using the architectural proof of concept.</p>

<p>Search knowing that your Koosli searches are protected from unwarranted behavioural profiling. Even cooler though is that Koosli adopts an open-source identity protocol that places you at the ultimate recursive level of policy governance for arbitration of digital identity.</p>

<p>In choosing for personalisation, consider that Josephine the Carpenter may introduce only as the Carpenter and have her identity contextually preserved without sacrificing anonymity; Josephine has autonomy to introduce herself as she sees fit. </p>

<p>The mission is to democratise identity.</p>

<p>The digital identity of our children is natured before they are born because the personal data of mother and father provides cross-contextual inference to the circumstance of rearing; digital identity is arbitrated beyond user control and with commercial priority.</p>

<p>Imagine instead a future where you are free to create and exchange behavioural identities. Ever wonder what it may be like to surf the Web subjected to the stimulus that [your favourite celebrity] would receive? Imagine attributing a behavioural identity to passively condition the digital immersion of our children so that their Web stimulus might foster critical thinking or [a relevant expertise]. The point is, you are at liberty to choose!</p>

<p>Register possible interest <a href="https://koosli.org">here</a> while we develop this solution for scale!</p>

<p>Need contact? don |-at-| koosli |-dot-| org</p>

{% endblock %}
