<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Koosli</title>
    <meta name="description" content="Autonomous search with good intentions">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

    <script type="text/javascript"
        src="http://ajax.microsoft.com/ajax/jquery/jquery-1.11.1.min.js"></script>
    <script type="text/javascript">
    if (typeof jQuery == 'undefined') {
        document.write(unescape("%3Cscript src='{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}' type='text/javascript'%3E%3C/script%3E"));
    }
    </script>
</head>
<body>
    {% block wrapper %}
    <div id="wrapper" class="container">
        {% block base %}{% endblock %}
    </div>
    {% endblock %}
</body>
</html>
