
<div class="row">
    <p>Search for a better world</p>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="row">
            <p class="col-sm-2 col-sm-offset-1"><a href="/">Home</a></p>
            <p class="col-sm-2"><a href="/about">About</a></p>
            <p class="col-sm-2"><a href="/beneficiaries">Beneficiaries</a></p>
            <p class="col-sm-2"><a href="/search_providers">Search providers</a></p>
            <p class="col-sm-2"><a href="/advertisers">Advertisers</a></p>
        </div>
    </div>
</div>
