{% extends 'base.html' %}

{% block wrapper %}
<div class="fjord-bg"></div>
<div class="banner whitetron">
    <img class="img-responsive" src="{{ url_for('static', filename='img/banner.png') }}">
    <h3 class="max-width text-center">Koselig Norsk søk, kommer snart!</h3>

    <div class="row" style="margin-top:100px">
        {% if message %}
        <div class="alert-info col-xs-12">{{ message }}</div>
        {% endif %}
        {% if form %}
            {% if form.errors %}
                <div class="alert-warning col-xs-12">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endfor %}
                </div>
            {% endif %}
            <form class="col-xs-12" id="interest-form" action="/register" method="POST">
                <div class="row">
                    <div class="col-xs-12">
                        <p>Interessert i å delta i betatesting?</p>
                        <input id="email" name="email" class="form-control" type="text" name="interest-email" placeholder="Email address">
                        <input class="form-control" style="width:100px; margin-top:5px" type="submit" value="Send">
                    </div>
                </div>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
