{% extends 'base.html' %}

{% block html %}
<body class="trondheim">

    <div class="banner whitetron">
        <img class="img-responsive" src="{{ url_for('static', filename='img/banner.png') }}">
        <h4 class="max-width text-center">
            Bringing you a login experience<br>
            To protect your control for privacy<br>
            To enable your freedom of identity
        </h4>

        <div class="row" style="margin-top:50px">
            {% if message %}
            {% endif %}
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                        {% else %}
                        <div class="alert alert-info" role="alert">
                            {{ message }}
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% if form %}
                {% if form.errors %}
                <div class="alert alert-danger">
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <div>{{ error }}</div>
                    {% endfor %}
                {% endfor %}
                </div>
                {% endif %}
                <form class="col-xs-12" id="interest-form" action="/interest" method="POST">
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="text-center">Stay informed!</p>
                            <input id="email" style="width:70%; margin:0 auto" name="email" class="form-control" type="text" name="interest-email" placeholder="email address">
                            <p class="text-center">
                                <input class="form-control" style="width:100px;display:inline; margin-top:5px" type="submit" value="Send">
                            </p>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
</body>
{% endblock %}
